venv/
__pycache__/
*.pyc
.DS_Store
.env
logs/
data/
models/
*.log
.ipynb_checkpoints/
output/
*.h5
*.ckpt
*.sqlite3
*.csv
*.tsv
*.parquet
*.pkl
*.joblib 
*.db
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
src.egg-info/
dist/
build/
.eggs/
*.egg
*.egg-info/
pip-wheel-metadata/
reports/